# Porta em que ambiente estará rodando
PORT=4000

# Tipo de ambiente que será executado (Por padrão)
NODE_ENV=development

# Caminho para a pasta de armazenamento da sua distribuição
STORAGE_PATH=/data