# Porta em que ambiente estará rodando
PORT=4000

# Tipo de ambiente que será executado (Por padrão)
NODE_ENV=development

# Caminho para a pasta de armazenamento da sua distribuição
STORAGE_PATH=/data

# Senha 
WEBHOOK_SECRET=Test@123

# Caminho para o repositório local no homelab
REPO_PATH=/data/data/com.termux/files/home/homelab-monitor-api

# Nome da aplicação para o pm2
PM2_APP_NAME=homelab-monitor-api

# Validador para testes de desenvolvimento das automações de auto-orquestração
DEPLOY_DRY_RUN=false